<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework/ObjectManager/etc/config.xsd">
    <preference for="Drd\Subscribe\Api\Data\SubscriptionInterface"
                type="Drd\Subscribe\Model\Subscription" />

    <preference for="Drd\Subscribe\Api\Data\ProductSuscriptionConfigInterface"
                type="Drd\Subscribe\Model\ProductSubscription\SubscriptionConfig" />

    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="drd_convert_item_options"
                type="Drd\Subscribe\Plugin\ConvertItemOptionsPlugin" />
    </type>

    <preference for="Drd\Subscribe\Api\SubscriptionRepositoryInterface"
                type="Drd\Subscribe\Model\SubscriptionRepository"/>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="drd_subscribe_reorder_now" xsi:type="object">Drd\Subscribe\Console\ReorderNowCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Api\Data\OrderItemInterface">
        <plugin name="drd_order_item_extension_attributes"
                type="Drd\Subscribe\Plugin\OrderItemExtensionAttributesPlugin"
                sortOrder="10"/>
    </type>

    <type name="Drd\Subscribe\Model\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">\Drd\Subscribe\Model\Config\SubscriptionPlans\Reader\Proxy</argument>
            <argument name="cacheId" xsi:type="string">drd_subscription_plan_config</argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Model\Cart">
        <plugin name="drd_subscribe_cart_plugin"
                type="Drd\Subscribe\Plugin\Cart\ApplySubscriptionPricing"
                sortOrder="10"/>
    </type>
</config>
